.navbar{
    background-color: #ff4a4a;
}

.navbar-brand, .nav-link, .dropdown-item, .dropdown-menu{
    color: white !important;
}

.navbar-brand:hover, .nav-link:hover, .nav-link:active, .nav-link:focus{
    color: #f3bda6 !important;
}

.dropdown-menu{
    background-color: #ff4a4a !important;
}

.dropdown-item:hover{
    background-color: #fe5c5c !important;
    color: white !important;
}